body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.main-box {
    width: 56%;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 20px auto; /* Center the box and provide some margin */
    padding: 20px;
    background-color: #fff; /* Background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8e7e7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-box {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.metrics-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.metric-box {
    border: solid 1px black;
    border-left: solid 5px #4CAF50;
    box-shadow: 0 1px 8px rgba(0, 0, 0.3, 0.3);
    padding: 5px;
    width: 175px;
    height: 65px;
}

.graph-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.metric-amt {
    padding-bottom: 19px;
    padding-top: 5px;
}

.green-button {
    text-align: center;
    margin-top: 20px;
}

.green-button button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 12%;
    margin-bottom: 20px;
}

.green-button button:hover {
    background-color: #45a049;
}
